In [1]:
import pandas as pd

In [36]:
train = pd.read_csv('titanic_data/train (1).csv')

In [37]:
train.head()
drop_na = train.dropna(axis=0, how='any', subset=['Age'])

In [38]:
results = drop_na['Survived']
first_data = drop_na[['Pclass', 'SibSp', 'Parch', 'Fare']]

In [39]:
first_data.isna().sum()

Pclass    0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [40]:
results

0      0
1      1
2      1
3      0
4      0
      ..
706    1
707    1
709    1
710    0
711    1
Name: Survived, Length: 577, dtype: int64

In [41]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(first_data, results, random_state=42)

In [42]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier
classifier.fit(X_train, y_train)
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.6736111111111112
Testing Data Score: 0.7034482758620689

In [43]:
test = pd.read_csv('titanic_data/test_2.csv')

In [44]:
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,741,1,"Hawksford, Mr. Walter James",male,NaN,0,0,16988,30.0000,D45,S
1,104,3,"Johansson, Mr. Gustaf Joel",male,33.0,0,0,7540,8.6542,NaN,S
2,181,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S
3,412,3,"Hart, Mr. Henry",male,NaN,0,0,394140,6.8583,NaN,Q
4,414,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
174,612,3,"Jardin, Mr. Jose Neto",male,NaN,0,0,SOTON/O.Q. 3101305,7.0500,NaN,S
175,626,1,"Sutton, Mr. Frederick",male,61.0,0,0,36963,32.3208,D50,S
176,881,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
177,606,3,"Lindell, Mr. Edvard Bengtsson",male,36.0,1,0,349910,15.5500,NaN,S
178,379,3,"Betros, Mr. Tannous",male,20.0,0,0,2648,4.0125,NaN,C

In [45]:
test_fit = test[['Pclass', 'SibSp', 'Parch', 'Fare']]

In [55]:
predict = classifier.predict(test_fit)

In [52]:
len(predictions)

179

In [ ]:
list()

In [53]:
predictions = pd.DataFrame({'PassengerId':list(test['PassengerId']), 'Survived':list(classifier.predict(test_fit))})

In [54]:
predictions

     PassengerId  Survived
0            741         1
1            104         0
2            181         0
3            412         0
4            414         0
..           ...       ...
174          612         0
175          626         1
176          881         1
177          606         0
178          379         0

[179 rows x 2 columns]

In [59]:
predictions.to_csv('submissions/s10_13_1.csv', index=False)